<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.liftingpump.liftingpump">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="android.support.v4.media.session.MediaButtonReceiver"
            android:enabled="true"
            >
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <!--<action android:name="android.bluetooth.a2dp.profile.action.PLAYING_STATE_CHANGED" />-->
            </intent-filter>
        </receiver>


        <receiver
            android:name=".OnEventReceiver"
            android:enabled="true"
            >
            <intent-filter android:priority="2147483647">
                <!--<action android:name="class com.example.liftingpump.liftingpump.VolumeServiceBroadCast" />-->
                <action android:name="swag" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>


        <receiver android:name=".StateWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/state_widget_info" />
        </receiver>

        <service android:name="com.example.liftingpump.liftingpump.VolumeService"
                 android:exported="true"
            >
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>



    </application>
    </manifest>
